{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
{#    {% for menus in menu %}#}
{#        <a class="nav-link" href="{{ menus.link }}">{{ menus.title }}</a>#}
{#    {% endfor %}#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>



{#    <div class="container">#}
{#        {% for posts in post %}#}

{#            <h3>{{ posts.title }}</h3>#}
{#            <img src="{{ vich_uploader_asset(posts) }}" alt="{{ posts.thumbnailFile }}" class="mx-auto d-block img-thumbnail w-50"/>#}
{#            <p>{{ posts.content }}</p>#}

{#        {% endfor %}#}
{#    </div>#}


{#    <div class="container bg-light">#}
{#        {% for posts in post %}#}
{#            <div class="media mt-2 pb-3">#}
{#                <img src="{{ vich_uploader_asset(posts) }}" class="align-self-center mr-3 thumbnail" alt="{{ posts.thumbnailFile }}">#}
{#                <div class="media-body align-middle">#}
{#                    <h5 class="mt-0">{{ posts.title }}</h5>#}
{#                    <p class="mb-0"><small>{{ posts.createdAt|date("F jS \\a\\t g:ia") }}</small></p>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="container bg-light">
        {% for posts in post %}
            <div class="row border-bottom pb-2 pt-2">
                <div class="col-md-3"><img src="{{ vich_uploader_asset(posts) }}" class="d-flex mr-3 img-thumbnail" alt="{{ posts.thumbnailFile }}"></div>
                <div class="col-md-9 pt-2">
                    <h4 class="mt-0 font-weight-bold"><a href="{{ path('single', {'post': posts.id }) }}">{{ posts.title }}</a></h4>
                    <p class="mb-0"><small><i class="far fa-calendar-alt pr-2"></i>{{ posts.createdAt|date("F jS \\a\\t g:ia") }}</small></p>
                    <a href="#" class="btn btn-primary btn-sm active mt-4" role="button" aria-pressed="true">{{ posts.category }}</a></br>
                    {% for tag in posts.tags %}
                        <a href="#" class="btn btn-primary btn-sm active mt-4" role="button" aria-pressed="true">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
